#conditions-container {
  display: flex;
  justify-content: space-between;
  margin: 18px 50px 0px 50px;
}

#weather-widget {
  display: flex;
  width: 45%;
  height: 250px;
  background-color: #f8eafd;
  border-radius: 5px;
}

#weather-widget-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  line-height: 50px;
}

#time-widget {
  display: flex;
  width: 45%;
  height: 250px;
  background-color: #f8eafd;
  border-radius: 5px;
}

#time-widget-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  line-height: 30px;
  margin-top: 91px;
}

.widget-alert-info {
  font-weight: bolder;
}
