.m-c-style {
  display: flex;
  width: inherit;
  height: 100px;
  background-color: var(--menu-card-purple);
  margin-top: 30px;
  border-radius: 5px;
  padding: 12px;
}

.m-c-style img {
  border-radius: 5px;
  margin-right: 20px;
  width: 110px;
}

.m-c-style div {
  padding: 10px;
}

.meal-price {
  margin-top: 14px;
}

.meal-description {
  margin-top: 7px;
}
