.vibe-bar {
  display: flex;
  width: 90%;
  background-color: var(--menu-card-purple);
  height: 63px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
}

.vibe-bar p {
  display: flex;
  margin: auto;
  align-items: baseline;
  width: fit-content;
  height: 27px;
  font-size: x-large;
  font-weight: 100;
  margin-top: auto;
  margin-bottom: auto;
}

.vibe-blurb {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.vibe-image {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.vibe-image img {
  border-radius: 5px;
  width: 200px;
  height: 158px;
  margin-right: 80px;
  object-fit: cover;
}
