.hero-img-wrapper {
  position: relative;
}

.hero-img-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: brightness(50%);
  background: pink;
  background-image: url('../../../assets/restaurantfront.jpg');
  background-size: cover;
  background-position: center;
  margin: 18px 50px 0px 50px;
}

.hero-img-wrapper p {
  // color: white;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  padding: 100px;
}

.hero-star-icons {
  color: white;
  font-size: 3rem;
  font-weight: 800;
}

.star-ratings {
  padding: 100px;
}

.two-texts {
  display: flex;
  place-content: center;
  justify-content: space-between;
  text-align: center;
  // min-height: 250px;
  height: 120px;
}

.hero-description {
  display: flex;
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 100px;
}
