.hero-container {
  overflow: hidden;
}

.hero-img-wrapper {
  position: relative;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

// from: https://stackoverflow.com/questions/52695453/make-images-expand-on-hover-from-center-and-make-image-still-stay-in-box
.hero-img-wrapper:hover {
  transform: scale(1.005, 1.005);
  // transform: scale(
  //   1.005,
  //   1.005
  // ); //in future we just want the image to zoom in and not container too
}

.hero-img-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: brightness(50%);
  // background: pink;
  // background-image: url('../../../assets/restaurantfront.jpg');
  background-image: url('../../../src/assets/restaurantfront.jpg');
  background-size: cover;
  background-position: center;
  margin: 18px 50px 0px 50px;
  border-radius: 5px;
}

// .hero-img-wrapper p {
//   color: white;
//   font-size: 3rem;
//   font-weight: 800;
//   // padding: 100px;
// }

.hero-back-btn {
  position: absolute;
  top: 50px;
  left: 97px;
  color: white;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}

// .hero-back-btn:hover {
//   width: 28px;
//   height: 28px;
//   border-radius: 50%;
//   background-color: red;
// }

.hero-title {
  display: flex;
  position: absolute;
  top: 130px;
  left: 97px;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  width: 300px;
  justify-content: space-between;
}

.hero-rating-val {
  position: absolute;
  top: 130px;
  left: 337px;
  color: white;
  font-size: 3rem;
  font-weight: 800;
}

#rating-val {
  font-weight: 100;
}

.hero-star-icons {
  color: white;
  font-size: 3rem;
  font-weight: 800;
}

.hero-star-icons:hover {
  cursor: pointer;
  color: #e1c896;
  fill: #e1c896;
}

.star-ratings {
  position: absolute;
  top: 130px;
  right: 97px;
}

.two-texts {
  display: flex;
  place-content: center;
  justify-content: space-between;
  text-align: center;
  height: 120px;
}

.hero-description {
  display: flex;
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 100px;
  padding-bottom: 90px;
}

#info-btn-container {
  padding-top: 0px;
  padding-left: 100px;
  padding-bottom: 100px;
}

.button {
  display: flex;
  background-color: var(--gold);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 1rem;
}

.button:hover {
  background-color: var(--white);
}

.b-arrow {
  margin-bottom: -4px;
}

/* Button Styles  */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #ced3d6 radial-gradient(circle, transparent 1%, #ced3d6 1%)
    center/15000%;
}
.ripple:active {
  background-color: #a7adb1;
  background-size: 100%;
  transition: background 0s;
}

.more-info-button {
  border: none;
  width: 148px;
  border-radius: 6px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  background-color: var(--gold);
}
