.header-class {
  display: flex;
  // background-color: red;
  margin: 40px 50px 0px 50px;
  width: 95%;
  font-size: 1.4rem;
}

.match-name {
  display: flex;
}

.date-informer {
  margin-right: 0.4rem;
}
